.instruments {
  display: block;
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 1.5;

  margin: 1.5rem auto 0;
  padding: 0.4rem 1rem;

  color: var(--secondary-color);
  background-color: var(--primary-color);
  background-clip: padding-box;
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
}
